In [2]:
##############################################################################
#### Python Session                       
#### Date:  01/29/2018
#### Author: Prudhvi

##### Description: This session will cover:
                     #Working with Tuples 
                     
##############################################################################


# Tuples

Tuples are datastructure that are similar to the list in all aspect except in the way they are declared 
and how much they allow themselves to be modified. As we have seen in the case of list, they can be change
and sometime when you are sorting important information in a list and using it somewhere else in the code,
you run the risk of accidently modifying them and loosing data or corrupting it.


A tuple is a sequence of immutable objects, therefore tuple cannot be changed.

The objects are enclosed within parenthesis and separated by comma.

In [2]:
#Empty tuple

tuple1 = ()
print(tuple1)
print(type(tuple1))

()
<class 'tuple'>

In [1]:
list1=[10]
type(list1)

list

In [2]:
tuple2 = (10)
print(type(tuple2))
print(tuple2)

<class 'int'>
10

In [3]:
#For a single value tuple, there must be a comma at the end of the value

tuple3 = (10,)
print(type(tuple3))
print(tuple3)

<class 'tuple'>
(10,)

In [5]:
first_tuple = ("Monty Python", 30, "Baker Street", 5.8)
print(first_tuple)

('Monty Python', 30, 'Baker Street', 5.8)

In [6]:
#Tuple can also be nested

tuple1 = (1,2,3,4)
tuple2 = (tuple1,(5,6,7))

print(tuple2)

((1, 2, 3, 4), (5, 6, 7))

In [9]:
#Tuples

city_tuple = ("Mumbai", 18.995, 72.814)
print(city_tuple)

('Mumbai', 18.995, 72.814)

In [10]:
##Accessing Tuples

#Tuple can be accessed in the same way as List.

print(city_tuple[0])
print(city_tuple[-1])
print(city_tuple[0:2])

Mumbai
72.814
('Mumbai', 18.995)

# Tuple Operations

Various Operations can be performed on Tuple.

#1) Adding Tuple
#2) Replicating Tuple
#3) Tuple Sclicing
#4) Creating new tuple from existing
#5) Deleting elements fom tuple

In [10]:
#Adding Tuple

#Tuple can be added by using the concatenation operator (+) to join two tuples

tuple1 = (1,2,3,4)
tuple2 = (5,6,7,8)

print(tuple1+tuple2)

(1, 2, 3, 4, 5, 6, 7, 8)

In [11]:
#Replicating tuple

#Replicating means repeating. It can be performed by using '*' operator by a specific number of time.

tuple1 = (1,2,3,4,5)
print(tuple1*3)
print(tuple1*2)
print(tuple1*0)
print(tuple1*-1)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
()
()

In [7]:
#Tuple Slicing

#A subpart of a tuple can be retrieved on the basis of index. This subpart is known as tuple slice.

tuple1 = (1,2,3,4,5,6)
print(tuple1[0:3])
print(tuple1[:-1])
print(tuple1[-1:])
print(tuple1[-1:-1])

(1, 2, 3)
(1, 2, 3, 4, 5)
(6,)
()

In [8]:
#Creating new tuple from the existing

tuple1 = (1,2,3,4)
tuple2 = (10,20,30,40)
tuple3 = (100,200,300,400)

tuple4 = tuple1+tuple2+tuple3
tuple4

(1, 2, 3, 4, 10, 20, 30, 40, 100, 200, 300, 400)

In [12]:
#Deleting elements from tuple

#Deleting individual element from a tuple is not supported. 
#However the whole of the tuple can be deleted using the del statement.

tuple1 = (1,2,3,4)

print(tuple1)

del tuple1 #It will delete the tuple

print(tuple1)

(1, 2, 3, 4)

NameError: name 'tuple1' is not defined

In [11]:
#Updating the elements in tuple
#Tuples are immutable


new_tuple[1] = 13.222

TypeError: 'tuple' object does not support item assignment

In [12]:
city_tuple[:-1]

('Mumbai', 18.995)

In [13]:

#Work Around to edit the tuples

b = city_tuple[:-1]

print(b)
print(len(b))

#Convert it into list
c = list(b)
print("c is: {0}".format(c))
d = tuple(c)
print("d is: {0}".format(d))

('Mumbai', 18.995)
2
c is: ['Mumbai', 18.995]
d is: ('Mumbai', 18.995)

# Tuple Functions

#1) min(tuple) : Returns the minimum value from a tuple.
#2) max(tuple) : Returns the maximum value from the tuple.
#3) len(tuple) : Gives the length of a tuple
#4) tuple(sequence) : Converts the sequence into tuple.

In [9]:
#min(tuple)

tuple1 = (10,20,3,40,5)

print(min(tuple1))
print(max(tuple1))
print(len(tuple1))

3
40
5

In [10]:
seq = [1,2,3,4]
tuple1 = tuple(seq)
print(tuple1)

(1, 2, 3, 4)

In [18]:
##You cannot copy a list with the = sign because lists are mutables. 
##The = sign creates a reference not a copy. 

#Tuples are immutable therefore a = sign does not create a reference but a copy as expected.
city_tuple = ('Mumbai', 18.995, 72.814)
new_tuple = city_tuple
print(new_tuple)

del city_tuple
#print(city_tuple)
print(new_tuple)

('Mumbai', 18.995, 72.814)
('Mumbai', 18.995, 72.814)

In [23]:
city_tuple = ['Mumbai', 18.995, 72.814]
new_tuple = city_tuple
new_tuple.pop(0)
print(new_tuple)

del city_tuple
#print(city_tuple)
print(new_tuple)

[18.995, 72.814]
[18.995, 72.814]

### Tuple Methods

Tuples are optimised, which makes them very simple objects. There are two methods available only:

#index, to find occurence of a value
#count, to count the number of occurence of a value

In [28]:
l = (1,2,3,4,1,2,1)
print(l.count(1))

l.index(1)

3

0

In [8]:
# Tuples are not Fully mutable

a = [1,2,3,4,[1,2,3]]
a[4]=[3,6,9]
print(a)

a = (1,2,3,4,[1,2,3])
print(a)

print(a[4][0])

a[4][0] = 9
#a[2]=10

print(a)

[1, 2, 3, 4, [3, 6, 9]]
(1, 2, 3, 4, [1, 2, 3])
1
(1, 2, 3, 4, [9, 2, 3])

In [24]:
#assigning multple values

(x,y,z) = (1,2,3)

print("x :", x)
print("y :", y)
print("z :", z)


(a,b,c) = range(3)

print("a :", a)
print("b :", b)
print("c :", c)

x : 1
y : 2
z : 3
a : 0
b : 1
c : 2

# Why Use Tuple?

#1) Processing of Tuples are faster than Lists.
#2) It makes the data safe as Tuples are immutable and hence cannot be changed

In [ ]:
a=