##############################################################################
#### Python Session                       
#### Date:  01/29/2019
#### Author: Prudhvi

##### Description: This session will cover:
                     Working with Dictionary 
                     
##############################################################################

# Dictionaries (Hash Table)


#Dictionary is an unordered set of key and value pair.
#It is an container that contains data, enclosed within curly braces.
#The pair i.e., key and value is known as item.
#The key passed in the item must be unique.
#The key and the value is separated by a colon(:). This pair is known as item. Items are separated from each other by a comma(,). Different items are enclosed within a curly brace and this forms Dictionary.
#Dictionary is mutable
#Key must be unique and immutable. Value is accessed by key. Value can be updated while key cannot be changed.

In [1]:
empty_dictionary = {}
print(type(empty_dictionary))

<class 'dict'>

In [2]:
#Dictionaries (Hash Table)
#dictionary have no concept of order among elements

bio_data = {'Name': 'Bob', 'Age': 30, 
            'Height': '5.6 ft', 
            'Hobby': 'Music'}
print(bio_data)

{'Name': 'Bob', 'Age': 30, 'Height': '5.6 ft', 'Hobby': 'Music'}

# Accessing Values

Since Index is not defined, a Dictionaries value can be accessed by their keys.
#Syntax: [key]

In [3]:
Employee1 = {'Employee_ID':1,'Emp_Name':"ABC",
             'Profession':"Developer"}

Employee2 = {'Employee_ID':2,'Emp_Name':"XYZ"
             ,'Profession':"Tester"}

Employee3 = {'Employee_ID':3,'Emp_Name':"Vamshi"
             ,'Profession':"ML Engineer"}

print("ID of the first employee :",
      Employee1['Employee_ID'])
print("ID of the second employee :",
      Employee2['Employee_ID'])

print("Name of the first employee :",
      Employee1['Emp_Name'])
print("Name of the second employee :",
      Employee2['Emp_Name'])

ID of the first employee : 1
ID of the second employee : 2
Name of the first employee : ABC
Name of the second employee : XYZ

In [4]:
Employee1['Employee_ID']

1

In [5]:
Employee1['Emp_Name']

'ABC'

In [1]:
Employee1 = {'Employee_ID':[1,2,3],'Emp_Name':["ABC","XYZ","Prudhvi"],
             'Profession':["Null","Tester","ML Developer"]}

print(Employee1["Emp_Name"][0])
print(Employee1["Employee_ID"][0])
print(Employee1["Profession"][0])

ABC
1
Null

In [3]:
import pandas as pd
employee=pd.DataFrame(Employee1)
employee

   Employee_ID Emp_Name    Profession
0            1      ABC          Null
1            2      XYZ        Tester
2            3   Vamshi  ML Developer

In [13]:
print(Employee1.get('Emp_Name'))
print(Employee1)
#The difference between get and pop is that pop also 
#removes the corresponding item from the dictionary:

print(Employee1.pop('Emp_Name'))
print(Employee1)

['ABC', 'XYZ', 'Vamshi']
{'Employee_ID': [1, 2, 3], 'Emp_Name': ['ABC', 'XYZ', 'Vamshi'], 'Profession': ['Developer', 'Tester', 'ML Developer'], 'Location': ['Delhi', 'Hyd', 'Bangalore']}
['ABC', 'XYZ', 'Vamshi']
{'Employee_ID': [1, 2, 3], 'Profession': ['Developer', 'Tester', 'ML Developer'], 'Location': ['Delhi', 'Hyd', 'Bangalore']}

# Updation

The item i.e., key-value pair can be updated. Updating means new item can be added. The values can be modified.

In [7]:
Employee1 = {'Employee_ID':1,'Emp_Name':"ABC",
             'Profession':"Developer"}
print(Employee1)
Employee1['Emp_Name'] = "Sam"
print(Employee1)

{'Employee_ID': 1, 'Emp_Name': 'ABC', 'Profession': 'Developer'}
{'Employee_ID': 1, 'Emp_Name': 'Sam', 'Profession': 'Developer'}

In [8]:
list=[2,4,5,6,67]
list[2]=89
print(list)

[2, 4, 89, 6, 67]

# Adding new item in dictionary

We can add new item in the existing dictionary

In [15]:
Employee1 = {'Employee_ID':[234,345],'Emp_Name':["ABC","XYZ","Prudhvi"],
             'Profession':["Null","Tester","ML Developer"]}
Employee1['Location'] = ["Delhi","Hyd","Bangalore"]

print(Employee1)

{'Employee_ID': [234, 345], 'Emp_Name': ['ABC', 'XYZ', 'Prudhvi'], 'Profession': ['Null', 'Tester', 'ML Developer'], 'Location': ['Delhi', 'Hyd', 'Bangalore']}

In [16]:
a=Employee1['Employee_ID']
type(a)

list

In [17]:
Employee1['Location']=('Chennai',)
print(Employee1)

{'Employee_ID': [234, 345], 'Emp_Name': ['ABC', 'XYZ', 'Prudhvi'], 'Profession': ['Null', 'Tester', 'ML Developer'], 'Location': ('Chennai',)}

# Deletion

#del statement is used for performing deletion operation.

#An item can be deleted from a dictionary using the key.

In [18]:
del Employee1['Location']

print(Employee1)

{'Employee_ID': [234, 345], 'Emp_Name': ['ABC', 'XYZ', 'Prudhvi'], 'Profession': ['Null', 'Tester', 'ML Developer']}

In [19]:
#The whole dictionary can also be deleted

temp = {'Employee_ID':1,'Emp_Name':"ABC",'Profession':"Developer"}
print("Temporary dictionary is :",temp)

del temp
print("Temporary dictionary is :",temp)

Temporary dictionary is : {'Employee_ID': 1, 'Emp_Name': 'ABC', 'Profession': 'Developer'}

NameError: name 'temp' is not defined

# Functions and Methods

#1) len() : Gives number of items in a dictionary.
#2) str() : Gives the string representation of a string
#3) keys() : Return all the keys element of a dictionary.
#4) values() : Return all the values element of a dictionary.
#5) items() : 	Return all the items(key-value pair) of a dictionary.
#6) update(dictionary2)) : It is used to add items of dictionary2 to first dictionary.
#7) clear() : It is used to remove all items of a dictionary. It returns an empty dictionary.
#8) copy(): It returns an ordered copy of the data.

In [20]:
#len(dictionary)

len(Employee1)

3

In [21]:
#str(dictionary)
Employee1

a = str(Employee1)
print(a)
print(type(a))

{'Employee_ID': [234, 345], 'Emp_Name': ['ABC', 'XYZ', 'Prudhvi'], 'Profession': ['Null', 'Tester', 'ML Developer']}
<class 'str'>

In [22]:
#keys()

Employee1.keys()

dict_keys(['Employee_ID', 'Emp_Name', 'Profession'])

In [23]:
#values()
print(Employee1)
Employee1.values()

{'Employee_ID': [234, 345], 'Emp_Name': ['ABC', 'XYZ', 'Prudhvi'], 'Profession': ['Null', 'Tester', 'ML Developer']}

dict_values([[234, 345], ['ABC', 'XYZ', 'Prudhvi'], ['Null', 'Tester', 'ML Developer']])

In [24]:
print(Employee1)
T=Employee1.items()
type(T)

{'Employee_ID': [234, 345], 'Emp_Name': ['ABC', 'XYZ', 'Prudhvi'], 'Profession': ['Null', 'Tester', 'ML Developer']}

dict_items

In [14]:
#update(dictionary)

location1 = {'location': 'Mumbai'}

print(Employee1)
Employee1.update(location1)

print(Employee1)

{'Employee_ID': 1, 'Emp_Name': 'Sam', 'Profession': 'Developer'}
{'Employee_ID': 1, 'Emp_Name': 'Sam', 'Profession': 'Developer', 'location': 'Mumbai'}

In [25]:
#Clear()

temp = {'ID':1,'Name':"ABC",'Dept':'IT'}

print("Dictionary :", temp)

temp.clear()

print("Dictionary :", temp)

Dictionary : {'ID': 1, 'Name': 'ABC', 'Dept': 'IT'}
Dictionary : {}

In [2]:
#copy
Employee1 = {'ID':1,'Name':"ABC",'Dept':'IT'}
Employee2 = Employee1
Emp = Employee1.copy()

Employee1.clear()
#Employee2.clear()
print(Emp)
print(Employee1)
print(Employee2)

{'ID': 1, 'Name': 'ABC', 'Dept': 'IT'}
{}
{}