#### Python Session                       
#### Date:  1/29/2019
#### Author: Prudhvi

##### Description: This session will cover:
                     Working with Control Statemets
                     
##############################################################################

# Arithmetic Operators:

Like any ohter language, the  addition, subtraction, multiplication and division operator can be used with numbers

In [1]:
x = 1
y = 2

z = x+ y
print(z)

3

In [2]:
x = 10
y = 5

z = x - y
print(z)

5

In [1]:
x = 17
y = 5
z = x/y
print(z)

3.4

In [6]:
x = 17
y = 5
remainder = x % y
print(remainder)

2

In [8]:
x = 17
y = 5

quotient = x//y
print(quotient)

3

In [9]:
print(x/y)

3.4

# Control Statements

The if statement in python is same as c language which is used test a condition. If condition is true, statement of if block is executed otherwise it is skipped.

Syntax: 

if(condition):  
   statements 
   
Python uses boolean variables to evaluate conditions. The boolen values True and False are returned when an expression is evaluated.

In [3]:
a = 10

if a >= 10:
    print("inside if statement")

inside if statement

In [9]:
a=5
if a ==5:
    print("a is 5")
else:
    print("a is not 5")

a is 5

 Nested if else conditions
 
          When we need to check for multiple conditions to be true then we use elif Statement.

          This statement is like executing a if statement inside a else statement.

In [11]:
a = 35

if a <= 20:
    print("a is not greater than 20")
elif a >= 30:
    print("a is greater than 30")
else:
    print("a is b/w 20 and 30")

a is greater than 30

The "and" and "or" boolean operators allowe building complex boolean expression

In [13]:
name = "ABC"
age = 24

if name == "ABC" and age == 23:
    print("Match Found")
else:
    print('Match not found')

Match not found

In [1]:
name = "ABgC"
age = 24


if name == "ABC" or age == 23:
    print("Match Found")
else:
    print('Match not found')

Match not found

In [ ]:
# Loops

#1 For Loop:
#For Loop is used to iterate a variable over a sequence(i.e., list or string) in the order that they appear.


Steps:
 1. Firstly, the first value will be assigned in the variable.
 2. Secondly all the statements in the body of the loop are executed with the same value.
 3. Thirdly, once step second is completed then variable is assigned the next value in the sequence and step second is repeated.
 4. Finally, it continues till all the values in the sequence are assigned in the variable and processed.

In [4]:
print(list(range(2,5)))

[2, 3, 4]

In [7]:
a=range(1,5)
print(list(a))

[1, 2, 3, 4]

In [18]:
range_1=range(1,5)
list(range_1)

[1, 2, 3, 4]

In [18]:
a=1
if a==True:
    print(a)
elif a==False:
    print('False')
else:
    print('Not True not False')

1

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
list=[2,3,4,5,6,7]
for i in list:
    print(i)

2
3
4
5
6
7

In [13]:
num = 2
for a in list(range(1,5)):
    a='Test'*a
    print(a)

Test
TestTest
TestTestTest
TestTestTestTest

In [19]:
list_appended=[]
list=[2,3,4,5,6,7]
for i in list:
    x=i*2
    list_appended.append(x)

print('Actual List',list)
print('Updated List with 2 multiplication',list_appended)

Actual List [2, 3, 4, 5, 6, 7]
Updated List with 2 multiplication [4, 6, 8, 10, 12, 14]

In [22]:
list=[2,3,4,5,6,7]
print('Actual List',list)
for i in range(len(list)): #[0,1,2,3,4,5]
    print('Index',i)
    list[i]=list[i]*2
    print(list)
print('Updated List with 2 multiplication',list)

Actual List [2, 3, 4, 5, 6, 7]
Index 0
[4, 3, 4, 5, 6, 7]
Index 1
[4, 6, 4, 5, 6, 7]
Index 2
[4, 6, 8, 5, 6, 7]
Index 3
[4, 6, 8, 10, 6, 7]
Index 4
[4, 6, 8, 10, 12, 7]
Index 5
[4, 6, 8, 10, 12, 14]
Updated List with 2 multiplication [4, 6, 8, 10, 12, 14]

In [26]:
list=[2,3,4,5,6,7]
print('Actual List',list)
for i in range(len(list)):
    print('Index',i)
    if list[i]<3:
        list[i]=list[i]*3
    elif list[i]==4:
        list[i]=list[i]*4
    elif list[i]>=5 and list[i]<7:
        list[i]=list[i]*6
    else:
        list[i]=list[i]*0
    print(list)
print('Updated List with 2 multiplication',list)

Actual List [2, 3, 4, 5, 6, 7]
Index 0
[6, 3, 4, 5, 6, 7]
Index 1
[6, 0, 4, 5, 6, 7]
Index 2
[6, 0, 16, 5, 6, 7]
Index 3
[6, 0, 16, 30, 6, 7]
Index 4
[6, 0, 16, 30, 36, 7]
Index 5
[6, 0, 16, 30, 36, 0]
Updated List with 2 multiplication [6, 0, 16, 30, 36, 0]

# Assignment1

Write a program to find the sum of Natural Number from 1 to 10

In [2]:
for n in range(1,11):
     print(n)

1
2
3
4
5
6
7
8
9
10

In [11]:
sum1=0  
for n in range(1,11):  
    sum1+=n  
print(sum1)

55

In [14]:
sum1=0  
list=[1,2,3,4,5,5]
for i in range(len(list)):  
    sum1+=list[i] 
print(sum1)

20

In [12]:
sum1=0  
list=[1,2,3,4,5,5]
for n in list:  
    sum1+=n 
print(sum1)

20

# Nested Loops

Loops defined inside another loop is called Nested Loop

# Assignment2

Write a program to print:

#  
# #
# # #  
# # # #  
# # # # #

In [5]:
print("hi",end = "@")
print("hello")
print("Hi")

hi@hello
Hi

In [4]:
for j in range(0,1):
    print(j)

0

In [5]:
a=[[2,3,4],[3,6,9,12],10,[5,10]]
type(a[1])

list

In [18]:
for iter1 in range(0,6):
    print('Iteration 1 value is :',iter1)
    for iter2 in range(0,1+iter1):
        print('Iteration 1 value is: ', iter1, 'and iteration 2 value is:',iter2)
        print(iter1,iter2)

Iteration 1 value is : 0
Iteration 1 value is:  0 and iteration 2 value is: 0
0 0
Iteration 1 value is : 1
Iteration 1 value is:  1 and iteration 2 value is: 0
1 0
Iteration 1 value is:  1 and iteration 2 value is: 1
1 1
Iteration 1 value is : 2
Iteration 1 value is:  2 and iteration 2 value is: 0
2 0
Iteration 1 value is:  2 and iteration 2 value is: 1
2 1
Iteration 1 value is:  2 and iteration 2 value is: 2
2 2
Iteration 1 value is : 3
Iteration 1 value is:  3 and iteration 2 value is: 0
3 0
Iteration 1 value is:  3 and iteration 2 value is: 1
3 1
Iteration 1 value is:  3 and iteration 2 value is: 2
3 2
Iteration 1 value is:  3 and iteration 2 value is: 3
3 3
Iteration 1 value is : 4
Iteration 1 value is:  4 and iteration 2 value is: 0
4 0
Iteration 1 value is:  4 and iteration 2 value is: 1
4 1
Iteration 1 value is:  4 and iteration 2 value is: 2
4 2
Iteration 1 value is:  4 and iteration 2 value is: 3
4 3
Iteration 1 value is:  4 and iteration 2 value is: 4
4 4
Iteration 1 value is : 5
Iteration 1 value is:  5 and iteration 2 value is: 0
5 0
Iteration 1 value is:  5 and iteration 2 value is: 1
5 1
Iteration 1 value is:  5 and iteration 2 value is: 2
5 2
Iteration 1 value is:  5 and iteration 2 value is: 3
5 3
Iteration 1 value is:  5 and iteration 2 value is: 4
5 4
Iteration 1 value is:  5 and iteration 2 value is: 5
5 5

In [12]:
for iter1 in range(0,6):
    print('Iteration 1 value is :',iter1)
    for iter2 in range(0,1+iter1):
        print('Iteration 1 value is: ', iter1, 'and iteration 2 value is:',iter2)
        for iter3 in range(0,1+iter2):
            print('Iteration 1 value is: ', iter1, 'and iteration 2 value is:',iter2,'Iteration 3 value is: ',iter3)
            print(iter1,iter2,iter3)

Iteration 1 value is : 0
Iteration 1 value is:  0 and iteration 2 value is: 0
Iteration 1 value is:  0 and iteration 2 value is: 0 Iteration 3 value is:  0
0 0 0
Iteration 1 value is : 1
Iteration 1 value is:  1 and iteration 2 value is: 0
Iteration 1 value is:  1 and iteration 2 value is: 0 Iteration 3 value is:  0
1 0 0
Iteration 1 value is:  1 and iteration 2 value is: 1
Iteration 1 value is:  1 and iteration 2 value is: 1 Iteration 3 value is:  0
1 1 0
Iteration 1 value is:  1 and iteration 2 value is: 1 Iteration 3 value is:  1
1 1 1
Iteration 1 value is : 2
Iteration 1 value is:  2 and iteration 2 value is: 0
Iteration 1 value is:  2 and iteration 2 value is: 0 Iteration 3 value is:  0
2 0 0
Iteration 1 value is:  2 and iteration 2 value is: 1
Iteration 1 value is:  2 and iteration 2 value is: 1 Iteration 3 value is:  0
2 1 0
Iteration 1 value is:  2 and iteration 2 value is: 1 Iteration 3 value is:  1
2 1 1
Iteration 1 value is:  2 and iteration 2 value is: 2
Iteration 1 value is:  2 and iteration 2 value is: 2 Iteration 3 value is:  0
2 2 0
Iteration 1 value is:  2 and iteration 2 value is: 2 Iteration 3 value is:  1
2 2 1
Iteration 1 value is:  2 and iteration 2 value is: 2 Iteration 3 value is:  2
2 2 2
Iteration 1 value is : 3
Iteration 1 value is:  3 and iteration 2 value is: 0
Iteration 1 value is:  3 and iteration 2 value is: 0 Iteration 3 value is:  0
3 0 0
Iteration 1 value is:  3 and iteration 2 value is: 1
Iteration 1 value is:  3 and iteration 2 value is: 1 Iteration 3 value is:  0
3 1 0
Iteration 1 value is:  3 and iteration 2 value is: 1 Iteration 3 value is:  1
3 1 1
Iteration 1 value is:  3 and iteration 2 value is: 2
Iteration 1 value is:  3 and iteration 2 value is: 2 Iteration 3 value is:  0
3 2 0
Iteration 1 value is:  3 and iteration 2 value is: 2 Iteration 3 value is:  1
3 2 1
Iteration 1 value is:  3 and iteration 2 value is: 2 Iteration 3 value is:  2
3 2 2
Iteration 1 value is:  3 and iteration 2 value is: 3
Iteration 1 value is:  3 and iteration 2 value is: 3 Iteration 3 value is:  0
3 3 0
Iteration 1 value is:  3 and iteration 2 value is: 3 Iteration 3 value is:  1
3 3 1
Iteration 1 value is:  3 and iteration 2 value is: 3 Iteration 3 value is:  2
3 3 2
Iteration 1 value is:  3 and iteration 2 value is: 3 Iteration 3 value is:  3
3 3 3
Iteration 1 value is : 4
Iteration 1 value is:  4 and iteration 2 value is: 0
Iteration 1 value is:  4 and iteration 2 value is: 0 Iteration 3 value is:  0
4 0 0
Iteration 1 value is:  4 and iteration 2 value is: 1
Iteration 1 value is:  4 and iteration 2 value is: 1 Iteration 3 value is:  0
4 1 0
Iteration 1 value is:  4 and iteration 2 value is: 1 Iteration 3 value is:  1
4 1 1
Iteration 1 value is:  4 and iteration 2 value is: 2
Iteration 1 value is:  4 and iteration 2 value is: 2 Iteration 3 value is:  0
4 2 0
Iteration 1 value is:  4 and iteration 2 value is: 2 Iteration 3 value is:  1
4 2 1
Iteration 1 value is:  4 and iteration 2 value is: 2 Iteration 3 value is:  2
4 2 2
Iteration 1 value is:  4 and iteration 2 value is: 3
Iteration 1 value is:  4 and iteration 2 value is: 3 Iteration 3 value is:  0
4 3 0
Iteration 1 value is:  4 and iteration 2 value is: 3 Iteration 3 value is:  1
4 3 1
Iteration 1 value is:  4 and iteration 2 value is: 3 Iteration 3 value is:  2
4 3 2
Iteration 1 value is:  4 and iteration 2 value is: 3 Iteration 3 value is:  3
4 3 3
Iteration 1 value is:  4 and iteration 2 value is: 4
Iteration 1 value is:  4 and iteration 2 value is: 4 Iteration 3 value is:  0
4 4 0
Iteration 1 value is:  4 and iteration 2 value is: 4 Iteration 3 value is:  1
4 4 1
Iteration 1 value is:  4 and iteration 2 value is: 4 Iteration 3 value is:  2
4 4 2
Iteration 1 value is:  4 and iteration 2 value is: 4 Iteration 3 value is:  3
4 4 3
Iteration 1 value is:  4 and iteration 2 value is: 4 Iteration 3 value is:  4
4 4 4
Iteration 1 value is : 5
Iteration 1 value is:  5 and iteration 2 value is: 0
Iteration 1 value is:  5 and iteration 2 value is: 0 Iteration 3 value is:  0
5 0 0
Iteration 1 value is:  5 and iteration 2 value is: 1
Iteration 1 value is:  5 and iteration 2 value is: 1 Iteration 3 value is:  0
5 1 0
Iteration 1 value is:  5 and iteration 2 value is: 1 Iteration 3 value is:  1
5 1 1
Iteration 1 value is:  5 and iteration 2 value is: 2
Iteration 1 value is:  5 and iteration 2 value is: 2 Iteration 3 value is:  0
5 2 0
Iteration 1 value is:  5 and iteration 2 value is: 2 Iteration 3 value is:  1
5 2 1
Iteration 1 value is:  5 and iteration 2 value is: 2 Iteration 3 value is:  2
5 2 2
Iteration 1 value is:  5 and iteration 2 value is: 3
Iteration 1 value is:  5 and iteration 2 value is: 3 Iteration 3 value is:  0
5 3 0
Iteration 1 value is:  5 and iteration 2 value is: 3 Iteration 3 value is:  1
5 3 1
Iteration 1 value is:  5 and iteration 2 value is: 3 Iteration 3 value is:  2
5 3 2
Iteration 1 value is:  5 and iteration 2 value is: 3 Iteration 3 value is:  3
5 3 3
Iteration 1 value is:  5 and iteration 2 value is: 4
Iteration 1 value is:  5 and iteration 2 value is: 4 Iteration 3 value is:  0
5 4 0
Iteration 1 value is:  5 and iteration 2 value is: 4 Iteration 3 value is:  1
5 4 1
Iteration 1 value is:  5 and iteration 2 value is: 4 Iteration 3 value is:  2
5 4 2
Iteration 1 value is:  5 and iteration 2 value is: 4 Iteration 3 value is:  3
5 4 3
Iteration 1 value is:  5 and iteration 2 value is: 4 Iteration 3 value is:  4
5 4 4
Iteration 1 value is:  5 and iteration 2 value is: 5
Iteration 1 value is:  5 and iteration 2 value is: 5 Iteration 3 value is:  0
5 5 0
Iteration 1 value is:  5 and iteration 2 value is: 5 Iteration 3 value is:  1
5 5 1
Iteration 1 value is:  5 and iteration 2 value is: 5 Iteration 3 value is:  2
5 5 2
Iteration 1 value is:  5 and iteration 2 value is: 5 Iteration 3 value is:  3
5 5 3
Iteration 1 value is:  5 and iteration 2 value is: 5 Iteration 3 value is:  4
5 5 4
Iteration 1 value is:  5 and iteration 2 value is: 5 Iteration 3 value is:  5
5 5 5

In [16]:
##Solution

n = 5
for i in range(0, n):
        for j in range(0, i+1):
##By default, the value of this parameter is ‘\n’, 
##i.e. the new line character. 
##You can end a print statement with any character/string using this parameter.
            #print("# " ,end="")
            print(i,j)
        print()

0 0

1 0
1 1

2 0
2 1
2 2

3 0
3 1
3 2
3 3

4 0
4 1
4 2
4 3
4 4

#Pattern to print


*
**
***
****
*****
******
*****
****
***
**
*

In [6]:
strl = ''
for i in range(0,11):
    if i < 6:
        strl = strl + '*'
        print(strl)
    elif i > 5:
        strl = strl[:-1]
        print(strl)

*
**
***
****
*****
******
*****
****
***
**
*

In [22]:
strl=''
strl = strl + '*'
strl
strl = strl + '*'
strl

'**'

# Assignmnet 3:

#1) Define a string "Hello this Is an Example With cased letters"
#2) Write a program to sort alphabetically the words form a string provided by the user

In [40]:
my_str = "Hello this Is an Example With cased letters"

# breakdown the string into a list of words
words = my_str.split()

# sort the list
words.sort()

a = words
# display the sorted words

print("The sorted words are:")
for word in words:
   print(word)

The sorted words are:
Example
Hello
Is
With
an
cased
letters
this

# Assignment 4

#1) define a string "Hello!!!, he said ---and went."
#2) Remove all punctuation from string
#3) output should be "Hello he said and went"

In [1]:
# define punctuation
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

my_str = "Hello!!!, he said ---and went."

no_punct = ""
for char in my_str:
    if char not in punctuations:
       no_punct = no_punct + char

# display the unpunctuated string
print(no_punct)

Hello he said and went

# Assignment

#1. Identify the vowels in my_string
#2. Print all the vowels
#3. Answer should be "aaaiea"

In [ ]:
#sol:




vowels = ''
for alphabet in my_string:
    if alphabet in 'aeiou':
        vowels = vowels + alphabet
print(vowels)

# While Loop

#while Loop is used to execute number of statements or body till the condition passed in while is true. Once the #condition is false, the control will come out of the loop.

#Here, body will execute multiple times till the expression passed is true. The Body may be a single statement or #multiple statement.

# Steps:

#1.Firstly, the value in the variable is initialized.
#2.Secondly, the condition/expression in the while is evaluated. Consequently if condition is true, the control enters in the body and executes all the statements . If the condition/expression passed results in false then the control exists the body and straight away control goes to next instruction after body of while.
#3.Thirdly, in case condition was true having completed all the statements, the variable is incremented or decremented. Having changed the value of variable step second is followed. This process continues till the expression/condition becomes false.
#4.Finally Rest of code after body is executed.

In [17]:
a=10  
while a>0:  
    print("Value of a is",a)  
    a=a-2

Value of a is 10
Value of a is 8
Value of a is 6
Value of a is 4
Value of a is 2

# Assignment5

Write a program to add the digits

For example:

digits 123456 = 1+2+3+4+5+6 --> 21

In [3]:
n=123456  
sum1=0  
while n>0:  
    r=n%10 
    sum1+=r  
    n=n//10  
print(sum1)

21

# Break, Continue and Pass

Break is used to exit a for loop or while loop whereas continue is used to skip the current block and return to for or while statement

In [6]:
count = 0
while True:
    print(count)
    count +=1
    if count >=5:
        break

0
1
2
3
4

In [16]:
for x in [10,20,30,40,50]:
    if x == 30:
        continue
        #break
    print(x)

10
20
40
50

In [18]:
x = 10
if x > 0:
    pass
    #print("Update later")
print("Hi")

Hi

# Assignment 6

Print out only odd numbers from 0 to 10

In [19]:
for x in range(10):
    if x % 2 != 0:
        print(x)

1
3
5
7
9

In [ ]:
for x in range(10):
    if x % 2 == 0:
        continue
    print(x)

# Can we use else clause for loops?

Unkike other languages, we can use else for loops. When hte loop condition of "for" or "while" statement fails then then the code part in "else" is executed

If the "break" statement is executed inside the loop then the "else" part is skipped. 

Note that "else" part is executed even if there is a continue statement

In [9]:
count = 0
while(count<5):
    print(count)
    count += 1
else:
    print("count value reached %d" %(count))

0
1
2
3
4
count value reached 5

In [10]:
for i in range(1,10):
    if (i%5==0):
        #break
        continue
    print(i)
else:
    print("print else part")

1
2
3
4